In [2]:
#task 1
import numpy as np
import pandas as pd
mySeries = pd.Series(np.arange(1,100,10),index=[x for x in range(1,11)])
print(mySeries)

1      1
2     11
3     21
4     31
5     41
6     51
7     61
8     71
9     81
10    91
dtype: int32

In [23]:
#task 2
values = mySeries.values
indexes = mySeries.index.tolist()
print(indexes)
print(values)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[ 1 11 21 31 41 51 61 71 81 91]

In [25]:
#task 3
arr = np.arange(1,10)
mySeries = pd.Series(arr)
print(mySeries)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

In [42]:
#task 4
print(mySeries.dtype)
mySeries.astype(float)

int32

1      1.0
2     11.0
3     21.0
4     31.0
5     41.0
6     51.0
7     61.0
8     71.0
9     81.0
10    91.0
dtype: float64

In [36]:
#task 5
apples = np.random.randint(20,30,10)
oranges = np.random.randint(50,60,10)
dict1 = {"Apples": apples, "Oranges" : oranges}
df = pd.DataFrame(dict1)
s = df['Apples']
print(s)
print(type(s))

0    26
1    22
2    24
3    21
4    25
5    28
6    26
7    28
8    28
9    25
Name: Apples, dtype: int32
<class 'pandas.core.series.Series'>

In [35]:
#task 6
s = np.array(s)
type(s)

<class 'numpy.ndarray'>

numpy.ndarray

In [9]:
#task 7
#todo
import pandas as pd
s = pd.Series([
    ['slim', 'waist', 'man'],
    ['slim', 'waistline'],
    ['santa']])
a = pd.Series()
for i in s:
       a.append(pd.Series(i))
print(a)

Series([], dtype: float64)

C:\Users\HURAIR~1\AppData\Local\Temp/ipykernel_6916/1918859826.py:7: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a = pd.Series()

In [45]:
#task 8
series = df["Apples"]
series

0    26
1    22
2    24
3    21
4    25
5    28
6    26
7    28
8    28
9    25
Name: Apples, dtype: int32

In [49]:
#task 9
print(series.mean())
print(series.std())

25.3
2.4517567397911058

In [5]:
#task 10
import pandas as pd
series = pd.Series(["shahzaib","ali","uzair","usman","Gl"])

for i in series:
    count = 0
    for j in i:
        if j in list("aeiou"):
            count += 1
    if count >= 2:
        print(i)

shahzaib
ali
uzair
usman

In [61]:
#task 11
series1 = pd.Series(np.arange(8),index=list("abcdefgh"))
series2 = pd.Series(np.arange(8),index=list("abcdefgh"))
series1.equals(series2)

True

In [66]:
#task 12
print(series1.idxmin())
print(series1.idxmax())

a
h

In [84]:
#task 13
df
series = pd.Series([26,22,24,21,None])
df.ne(series,axis=0)

   Apples  Oranges
0   False     True
1   False     True
2   False     True
3   False     True
4    True     True
5    True     True
6    True     True
7    True     True
8    True     True
9    True     True

In [ ]:
#task 14
import pandas as pd
series = pd.Series(["shahzaib","ali","uzair","usman","Gl"])

for i in series:
    count = 0
    for j in i:
        if j in list("aeiou"):
            count += 1
    if count >= 2:
        print(i)

In [88]:
#task 15
series = pd.Series(np.arange(1,10))
print(series.diff())
print(series.diff().diff())

0    NaN
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
dtype: float64
0    NaN
1    NaN
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
dtype: float64